/* layout */
body {
  margin: 20px 30px;
}

div#buttons {
	margin-bottom: 50px;
}

div.column {
  border-bottom: 1px solid;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 80px;
}

div.column.last {
  border-bottom: none;
}

/* color */
a {
  color: #E74C3C;
  text-decoration: none;
}

a:hover {
  color: #C0392B;
}

/* typograph */
p, ul li, ol li, dl dd, dl dt, td, blockquote, blockquote p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing:1px;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 70px;
}

h2 {
  font-size: 20px;
  line-height: 28px;
}

h3 {  
  font-size: 18px;
  line-height: 24px;
}

h4 {  
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

p.lead {
  font-size: 18px;
  line-height: 24px;
}

h2 {
  margin-top: 10px;
}

small, p.small {
  line-height: 1.46428571;
}


.label {
  margin-right: 5px;
}

/* table */
table tbody tr td, .table thead tr th {vertical-align: middle}

table tbody tr td ul {
  padding-left: 0px;
  list-style-type: none;
}

.active.blue {
  background-color: #edf6fc;
}

.active.red {
  background-color: #fdefed;
}

.active.selected {
  border: 4px solid #34495e;
}

.table-bordered tr td{
  padding: 10px;
}

.table-bordered tbody tr td.label {
  vertical-align: middle;
}

.table-bordered tbody tr td {
  vertical-align: top;
}

.table-bordered tbody tr td p {
  margin-bottom: 0;
}

/* buttons */
.btn-hghg {
  padding: 13px 20px;
  font-size: 40px;
  line-height: 1.227;
  border-radius: 6px;
}

.btn-xs {
	margin-right: 10px;
}

/* ladda for bootstrap*/


