pre.highlight .hll { background-color: #ffffcc }
pre.highlight  { background: #f8f8f8; }
pre.highlight .c { color: #408080; font-style: italic } /* Comment */
pre.highlight .err { border: 1px solid #FF0000 } /* Error */
pre.highlight .k { color: #008000; font-weight: bold } /* Keyword */
pre.highlight .o { color: #666666 } /* Operator */
pre.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
pre.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
pre.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
pre.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
pre.highlight .gd { color: #A00000 } /* Generic.Deleted */
pre.highlight .ge { font-style: italic } /* Generic.Emph */
pre.highlight .gr { color: #FF0000 } /* Generic.Error */
pre.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.highlight .gi { color: #00A000 } /* Generic.Inserted */
pre.highlight .go { color: #888888 } /* Generic.Output */
pre.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre.highlight .gs { font-weight: bold } /* Generic.Strong */
pre.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.highlight .gt { color: #0044DD } /* Generic.Traceback */
pre.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
pre.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
pre.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
pre.highlight .kp { color: #008000 } /* Keyword.Pseudo */
pre.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
pre.highlight .kt { color: #B00040 } /* Keyword.Type */
pre.highlight .m { color: #666666 } /* Literal.Number */
pre.highlight .s { color: #BA2121 } /* Literal.String */
pre.highlight .na { color: #7D9029 } /* Name.Attribute */
pre.highlight .nb { color: #008000 } /* Name.Builtin */
pre.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
pre.highlight .no { color: #880000 } /* Name.Constant */
pre.highlight .nd { color: #AA22FF } /* Name.Decorator */
pre.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre.highlight .nf { color: #0000FF } /* Name.Function */
pre.highlight .nl { color: #A0A000 } /* Name.Label */
pre.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
pre.highlight .nv { color: #19177C } /* Name.Variable */
pre.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre.highlight .w { color: #bbbbbb } /* Text.Whitespace */
pre.highlight .mb { color: #666666 } /* Literal.Number.Bin */
pre.highlight .mf { color: #666666 } /* Literal.Number.Float */
pre.highlight .mh { color: #666666 } /* Literal.Number.Hex */
pre.highlight .mi { color: #666666 } /* Literal.Number.Integer */
pre.highlight .mo { color: #666666 } /* Literal.Number.Oct */
pre.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
pre.highlight .sc { color: #BA2121 } /* Literal.String.Char */
pre.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
pre.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
pre.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
pre.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre.highlight .sx { color: #008000 } /* Literal.String.Other */
pre.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
pre.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
pre.highlight .ss { color: #19177C } /* Literal.String.Symbol */
pre.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
pre.highlight .vc { color: #19177C } /* Name.Variable.Class */
pre.highlight .vg { color: #19177C } /* Name.Variable.Global */
pre.highlight .vi { color: #19177C } /* Name.Variable.Instance */
pre.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
