## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>私たちは函館でお土産に何を買えばよいのか</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="${self.desc()}">
    <meta name="keywords" content="${self.keywords()}">
    <meta name="author" content="">

    <!-- Loading Bootstrap -->
    <link href="/static/Flat-UI-Pro-v1.3.1/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="/static/Flat-UI-Pro-v1.3.1/dist/css/flat-ui-pro.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/Flat-UI-Pro-v1.3.1/img/favicon.ico">

    <!-- Loading Optional css -->
    <link href="/static/css/base.css" rel="stylesheet">
    
    <!-- Ladda for bootstrap -->
    <link rel="stylesheet" href="/static/ladda-bootstrap/dist/ladda-themeless.min.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    ${self.include_css()}

  </head>
  <body>
  <div id="wrap">
    <div id="main-wrapper">
            ${self.body()}        
    </div>
    <!-- /#main-wrapper -->
  </div>
  <!-- /#wrap -->

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/static/Flat-UI-Pro-v1.3.1/dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Flat-UI-Pro-v1.3.1/dist/js/flat-ui-pro.js"></script>
    

    ${self.include_js()}
  </body>
</html>

<%def name="include_js()">
</%def>
<%def name="include_css()">
</%def>
<%def name="title()">
${page_title_meta}
</%def>
<%def name="desc()">
</%def>
<%def name="keywords()">
</%def>
<%def name="dialog()">
</%def>
<%def name="dialog_en()">
</%def>