## -*- coding: utf-8 -*-
<%inherit file="base.html" />

<h2>ランキング・レスポンス</h2>
<div id="database">
	<table class="table-responsive table-bordered">
		<thead>
			<tr>
				<th>trial_id</th>
				<th>displayed_item_pair</th>
				<th>displayed_ranking</th>
				<th>added_timestamp</th>
				<th>response_timestamp</th>
				<th>response_item</th>				
			</tr>
		</thead>
		<tbody>
		% for trial in trials:
            ${makerow_trial(trial)}
        % endfor
		</tbody>
	</table>
	</div>
</div><!-- /#database -->

<h2>パラメータ</h2>
<div id="parameters">
	<table class="table-responsive table-bordered">
		<thead>
			<tr>
				<th>trial_id</th>
				<th>item_id</th>
				<th>current_mu</th>
				<th>current_sigma</th>				
			</tr>
		</thead>
		<tbody>
		% for trial_id, param in parameters.items():
			% for item_id, value in param.items():
	            ${makerow_param(trial_id, item_id, value)}
	        % endfor
        % endfor
		</tbody>
	</table>
	</div>
</div><!-- /#parameters -->

<%def name="makerow_trial(trial)">
	<tr>
		<td>${trial.key.id()}</td>
		<td>${trial.displayed_item_pair}</td>
		<td>${trial.displayed_ranking}</td>
		<td>${trial.added_timestamp}</td>
		<td>${trial.response_timestamp}</td>
		<td>${trial.response_item}</td>
	</tr>
</%def>

<%def name="makerow_param(trial_id, item_id, value)">	
	<tr>
		<td>${trial_id}</td>
		<td>${item_id}</td>
		<td>${value['mu']}</td>
		<td>${value['sigma']}</td>
	</tr>
</%def>
