## -*- coding: utf-8 -*-
<%inherit file="base.html" />

<div id="buttons">
	<div class="column">
		<div class="row">
			<div class="col-md-6">
				<a href="/?s=${sampling_type}" class="btn btn-default btn-xs"><span class="fui-power"></span> reload</a>
				% if sampling_type == 'random':
					<a href="/?s=${sampling_type}&k=1" class="btn btn-default btn-xs"><span class="fui-check"></span> skip</a>
				% endif
			</div>
			<div class="col-md-6 text-right">
				<span class="small">Current sampling method: ${sampling_type}</span>
				<a href="/toggle?s=${sampling_type}" class="btn btn-default btn-xs mlm">toggle</a>
			</div>
		</div>
		<h1 class="text-center">どちらの方が美味しいですか？</h1>
		<div class="row">
			<div class="col-md-6">
				<a href="/?q=${pair[0]}&t=${trial_id}&s=${sampling_type}" class="btn btn-hghg btn-info btn-block  btn-item" data-style="expand-up" data-size="l">
				  ${names[pair[0]]}
				</a>
			</div>

			<div class="col-md-6">
				<a href="/?q=${pair[1]}&t=${trial_id}&s=${sampling_type}" class="btn btn-hghg btn-danger btn-block  btn-item" data-style="zoom-in">
				  ${names[pair[1]]}
				</a>
			</div>
		</div>
	</div>
</div><!-- /#buttons -->

<div id="ranking" class="ranking">
	<div class="column">
		<h2>ランキング</h2>
		<p><span class="active blue text-info">青背景</span>・<span class="active red text-danger">赤背景</span>のお菓子が、現在比較中のペアです</p>
		<table class="table-responsive table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					% for i in range(len(ranking)):
			            <th class="text-center">${i+1}</th>
			        % endfor
				</tr>
			</thead>
			<tbody>
				${makerow_ranking(ranking)}
			</tbody>
		</table>
	</div>
</div><!-- /#ranking -->

% if previous_trials != []:
<div id="history" class="ranking">
	<div class="column">
		<h2>過去のランキング</h2>
		<span class="active blue text-info">青背景</span>・<span class="active red text-danger">赤背景</span>のお菓子が、その回で比較されたペアです。<span class="active selected">太枠</span>で囲まれたお菓子が、「美味しい方」に選ばれたお菓子です。</p>
		<table class="table-responsive table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					% for i in range(len(ranking)):
			            <th class="text-center">${i+1}</th>
			        % endfor
				</tr>
			</thead>
			<tbody>
				% for t, trial in enumerate(previous_trials):
		            ${makerow_previous_trial(t, trial)}
		        % endfor
			</tbody>
		</table>
	</div>
</div><!-- /#history -->
% endif

<div id="development">
		<div class="row">
			<a href="/reset" class="btn btn-default btn-xs mlm"><span class="fui-trash"></span> reset</a>			
		</div>
</div><!-- /#devlopment -->

<%def name="makerow_ranking(ranking)">
	<tr>
		<td class="text-center" rowspan=2>現在</td>
		% for item in ranking:
			% if item in pair:
				% if pair.index(item) == 0:
				    <td class="col-md-1 col-sm-1 col-xs-1 active blue text-info">
				% else:
					<td class="col-md-1 col-sm-1 col-xs-1 active red text-danger">
				% endif
			% else:
				<td class="col-md-1 col-sm-1 col-xs-1">
			% endif
			    <p class="text-center"><img src="${images[item]}" class="img-responsive"></p>
			    <p class="text-center">${names[item]}</p>
	    	</td>
	    % endfor
    </tr>
	<tr>
		% for item in ranking:
			% if item in pair:
				% if pair.index(item) == 0:
				    <td class="col-md-1 col-sm-1 col-xs-1 active blue text-info">
				% else:
					<td class="col-md-1 col-sm-1 col-xs-1 active red text-danger">
				% endif
			% else:
				<td class="col-md-1 col-sm-1 col-xs-1">
			% endif
			    <ul>
				    <li><span>mu:<br />${'{0:.0f}'.format(parameters[item]['mu'])}</span></li>
				    <li><span>sigma:<br />${'{0:.0f}'.format(parameters[item]['sigma'])}</span></li>
			    </ul>
	    	</td>
	    % endfor
    </tr>
</%def>

<%def name="makerow_previous_trial(t, trial)">
	<tr>
		<td class="text-center" rowspan=2>${t+1}回前</td>
		% for item in trial.displayed_ranking:
			% if item in trial.displayed_item_pair:
				% if trial.displayed_item_pair.index(item) == 0 and item == trial.response_item:
				    <td class="col-md-1 col-sm-1 col-xs-1 active blue selected text-info">
				% elif trial.displayed_item_pair.index(item) == 0 and item != trial.response_item:
					<td class="col-md-1 col-sm-1 col-xs-1 active blue text-info">
				% elif trial.displayed_item_pair.index(item) == 1 and item == trial.response_item:
				    <td class="col-md-1 col-sm-1 col-xs-1 active red selected text-danger">
				% elif trial.displayed_item_pair.index(item) == 1 and item != trial.response_item:
					<td class="col-md-1 col-sm-1 col-xs-1 active red text-danger">
				% endif
			% else:
				<td class="col-md-1">
			% endif
			    <p class="text-center"><img src="${images[item]}" class="img-responsive"></p>
			    <p class="text-center">${names[item]}</p>
			</td>
		% endfor
	</tr>
	<tr>
		% for item in trial.displayed_ranking:
			% if item in trial.displayed_item_pair:
				% if trial.displayed_item_pair.index(item) == 0 and item == trial.response_item:
				    <td class="col-md-1 col-sm-1 col-xs-1 active blue selected text-info">
				% elif trial.displayed_item_pair.index(item) == 0 and item != trial.response_item:
					<td class="col-md-1 col-sm-1 col-xs-1 active blue text-info">
				% elif trial.displayed_item_pair.index(item) == 1 and item == trial.response_item:
				    <td class="col-md-1 col-sm-1 col-xs-1 active red selected text-danger">
				% elif trial.displayed_item_pair.index(item) == 1 and item != trial.response_item:
					<td class="col-md-1 col-sm-1 col-xs-1 active red text-danger">
				% endif
			% else:
				<td class="col-md-1">
			% endif
			    <ul>
				    <li><span>mu:<br/>${'{0:.0f}'.format(previous_parameters[trial.key.id()][item]['mu'])}</span></li>
				    <li><span>sigma:<br/>${'{0:.0f}'.format(previous_parameters[trial.key.id()][item]['sigma'])}</span></li>
			    </ul>
			</td>
		% endfor
	</tr>
</%def>

<%def name="include_js()">
<script type="text/javascript">
	$(':radio').radiocheck();
</script>

<!-- Ladda for bootstrap -->
<script src="/static/ladda-bootstrap/dist/spin.min.js"></script>
<script src="/static/ladda-bootstrap/dist/ladda.min.js"></script>

<script type="text/javascript">
	Ladda.bind('a.btn-item');
</script>
</%def>
